@import "./variables";

html, body {
	height: 100%;
}

#page {
	min-height: 100%;
	margin: 0 auto (-$footer-height);
}

#login-form {
	width: 300px;
	padding: 15px 15px 0px 15px;

	.input-group {
		margin-bottom: 5px;
	}
}

.input-group-addon {
	i {
		width: 13px;
	}
}

footer {
	color: $copyright-color;
	background-color: $copyright-bg;
}

footer, .push {
	height: $footer-height;
}
